{%extends 'base.html'%}
{%load static%}
{% block title%}
{{obj.name}}
{% endblock title%}

{% block scripts%}
<script src="{% static 'quizes/quiz.js' %}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock scripts%} 

{% block content%}
<b>{{obj.name}}</b>
<p>Score to Pass : {{obj.required_score_to_pass}}</p>
<hr>
<form id="quiz-form" class="mt-3 mb-3">
    {%csrf_token%}
    <div id="quiz-box">
    
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>
<div id="score-box"></div>
<div id="result-box"></div>
{% endblock content%}